/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: left;
}

/* numbers list header row */
.watchListHeader {
  background-color: #2062B8;
  color: white;
  text-align: center;
  padding: 5px 20px 5px 20px;
}

/* numbers list flex table */
.watchList {
  border: 1px solid silver;
  margin-bottom:6px;
}

/* numbers list fields */
.watchListNumericColumn {
  border: 1px solid silver;
  text-align: right;
  width:8em;
  padding: 5px 20px 5px 20px;
}

